.top-bar {
    position: fixed;
    top: 10px;
    left: 4px;
    width: auto;
    background-color: #c0f1fad9;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(35, 114, 25, 0.6);
    z-index: 1000;
    /* Makin sure it stays above the map and other elements */
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.top-bar h1 {
    margin: 0;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.7px;
    text-align: center;
}